body {
  background: #F5F5F5;
}
nav.navbar.navbar-default.navbar-static {
  background: #FFF;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.w100 {
  width: 100px;
}
div#App {
  margin: 15px;
  padding-bottom: 50px;
  background: #FFF;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
